/* Estilos da página index.html */

body {
    background-color: rgb(244, 244, 247);
    color: rgb(17, 17, 17);
    width: 100vw;

    /* overflow (x,y) ele retira a barra de rolagem 
    da tela no nosso caso tirou a dos lados */
    overflow-x: hidden;
}

.center {
    text-align: center;
    }

.jutstify {
    text-align: justify;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#menu {
    display: flex;
    align-items: center;
}


#menu li {
    display: inline;
    padding: 15px;
}

#menu li a {
    text-decoration: none;
    color: rgb(12, 12, 12);
    font-size: 20px;
}

/* altera conforme passa o mouse */
#menu li a:hover {
    color: red;
}

/* espaçamento de 30 (exemplo: face, insta e link) */
.p-30 {
    padding: 30px;
}

/* vai mexer no formato da foto do perfil */
.br-50 {
    border-radius: 50%;
}

/* Vai alterar altura e largura(exemplo: foto do perfil)  */
.wh-300 {
    width: 120px;
    height: 150px;
}

/* altera o tamanho das imagens */
.tm-social {
    width: 50px;
    height:50px;
}

/* Adiciona uma borda para que não fique colado com o rodapé */
.mb-50 {
    margin-bottom: 50px;
}


/* Estilos da página contato.html */
/* Adiciona Margem a esquerda */
.ml-50 {
    margin-left: 50px;
}

.IconJapao{
    display: flex;
    align-items: center;
}

